<div id="footer">
  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-2-3 central">
      <div class="pure-g">
        <div class="pure-u-1-2">
          
          Your Name<br />
          your email
        </div>
        <div class="pure-u-1-2">
          
          <a href="https://github.com/your_handle">github.com/your_handle</a><br />
          <a href="https://twitter.com/your_handle">@your_handle</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-2-3 central">
      <h6 id='copyright-notice'>Copyright: Your Name {{ site.time | date: "%Y" }} - <a href=link-to-license>Enter a license</a></h6>
    </div>
  </div>
</div>