<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <link href='//www.macwright.org/big/big.css' rel='stylesheet' type='text/css' />
    <script src='//www.macwright.org/big/big.js'></script>
  </head>

  <body>
    {{ content }}
  </body>

</html>
